:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 100px;
    background-color: #4239c5;
    display: flex;
    
}

mat-drawer-container {
    height: 100%;
    background-color: rgb(245, 245, 245);
}

.container {
    border: 2px solid rgb(209, 209, 209);
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 6px #b4b4b4;
    height: auto;
    min-height: 90vh;
}