<div class="container-fluid">
    <div class="row">

        <div class="col-md-12 col-lg-8">

        </div>
        <div class="col-md-12 col-lg-4">
            <app-datepicker></app-datepicker>
        </div>
    </div>

    <div class="row">
        <h3>Hours</h3>
        <div class="col-md-12 col-lg-10">
            <app-bar-chart></app-bar-chart>
        </div>
        <div class="col-md-12 col-lg-2">
            <app-donut-charts></app-donut-charts>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <app-table></app-table>
        </div>
    </div>
</div>
