<mat-nav-list>
    <div class="logo py-4 text-center">
        <img src="../../../assets/images/logo-angular.png" alt="Logo">
    </div>
    <div class="container text-center">
        <a class="mb-5" mat-list-item routerLink="dashboard" routerLinkActive="list-item-active">
            <mat-icon>dashboard</mat-icon>
            <p>Dashboard</p>
        </a>
        <a class="mb-5" mat-list-item routerLink="boards" routerLinkActive="list-item-active">
            <mat-icon>reorder</mat-icon>
            <p>Board</p>
        </a>
        <a class="mb-5" mat-list-item routerLink="projects" routerLinkActive="list-item-active">
            <mat-icon>shared</mat-icon>
            <p>Projects</p>
        </a>
        <a class="mb-5" mat-list-item routerLink="roadmap" routerLinkActive="list-item-active">
            <mat-icon>map</mat-icon>
            <p>Roadmap</p>
        </a>
        <a class="mb-5" mat-list-item routerLink="strategy" routerLinkActive="list-item-active">
            <mat-icon>build</mat-icon>
            <p>Strategy</p>
        </a>
        <a mat-list-item routerLink="global" routerLinkActive="list-item-active">
            <mat-icon>world</mat-icon>
            <p>Global</p>
        </a>

    </div>
</mat-nav-list>