<mat-nav-list>
    <div class="logo py-4 text-center">
        <img src="../../../assets/images/logo-angular.png" alt="Logo">
    </div>
    <div class="container" > 
        <div class="row" >
            <div class="col-12" *ngFor="let item of menuItem">
                <a class="nav-link" [routerLink]="item.url" routerLinkActive="active">
                    <mat-icon>{{item.icono}}</mat-icon>
                    <p>{{item.titulo}}</p>
                </a>
            </div>
        </div>
    </div>
</mat-nav-list>