<!-- Breadcrumb -->
    <!-- <div class="row">
        <div class="col-6">
            <nav class="d-flex">
                <h6 class="mb-0">
                    <mat-icon>home</mat-icon>
                    <span>/</span>
                    <a href="" class="text-reset">{{titulo}}</a>
                    <span>/</span>
                    <a href="" class="text-reset">Analytics</a>
                    <span>/</span>
                    <a href="" class="text-reset"><u>Dashboard</u></a>
                </h6>
            </nav>
        </div>
        <div class="col-6">
        </div>
    </div> -->
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <mat-icon>home</mat-icon>
                </li>
                <li class="breadcrumb-item">Pages</li>
                <li class="breadcrumb-item active">{{titulo}}</li>
            </ol>
        </div>
    </div>

<!-- Breadcrumb -->