<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Employee</th>
                <th>Email</th>
                <th>Location</th>
                <th>Tag</th>
                <th>Availabilty</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td> <img [src]="user.picture.medium" alt="Profile picture" class="avatar"> {{user.name.first}}</td>
                <td>{{user.email}}</td>
                <td>{{user.location.state}}</td>
                <td>
                  <span class="label label-primary">Programing</span>
                  <span class="label label-info">Networks</span>
                </td>
                <td>{{user.name.first}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
  